html,body{
    height:100vh;
    width:100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
        #wrapper {
            min-height: 100%; 
        }

		#customContainer {
			width:100%; 
			min-height: 100%; 
		}

		.customIcon {
			font-size: 90%;
		}

		.customInput {
			margin: 15px;
		}

		#title {
			margin-bottom: 8%;
		}