html, body {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%; 
        }

		#customContainer {
			width:100%; 
			min-height: 100%; 
		}

		.customIcon {
			font-size: 90%;
		}

		.customInput {
			margin: 15px;
		}

		#title {
			margin-bottom: 8%;
		}