body, html {
	background: #0a1529;
	height: 100vh;
  margin: 0;
}



	#myCustomContainer {
		/* height: 100vh; */
		position: relative;
		width: 80%;
		left: 10%;
		/* min-height: 100%; */
		
	}

	.customIcon {
		font-size: 80px;
		color: #dc0000;
	}

	.customInput {
		margin: 15px;
	}

	#title {
		margin-bottom: 8%;
	}

	.customIconContainer {
		margin: 50px;
		
	}


	.cardEffect:hover {
		border: 3px solid black;
		opacity: 0.5;
	}

	.card {
		border-style: solid;
		border-width: 4px;
		border-radius: 5px;
		border-color: #FF410D;
	}