.title {
	color: white;
}

body, html {
	background: #0a1529;
	height: 100vh;
}

.customCarousel {
	height: 60vh;
	background: white;
}

.customBtn {
	background: #dc0000
}

.customCreateBtn:hover {
	background: #0875d7
}

.mainContainer {
	height: 100vh;
	padding-top: 2%;
}

.btnContainer {
	padding: 0px;
}

.customImg {
	height: 60vh;
	width: auto;
}

.btnContainer {
	margin-bottom: 80px;
}

.cont {
	position: relative;
	width: 60%;
	left: 20%;
}