.title {
	color: white;
}

body, html {
	background: #0a1529;
	height: 100vh;
}

.customCarousel {
	height: 60vh;
	background: white;
	border-style: solid;
	border-color: #FF410D;
	border-width: 5px;
	border-radius: 8px;
}

.customBtn {
	background: #dc0000
}

.customCreateBtn:hover {
	background: #0875d7
}

.carousel-inner {
	position: relative;
	height: 100%;
}
.carousel-item{
	position: relative;
	height: 100%;
}

.mainContainer {
	height: 100vh;
}

.btnContainer {
	padding: 0px;
}

.customImg {
	height: 80%;
	width: 80%;
}

.btnContainer {
	margin-bottom: 80px;
}

.cont {
	position: relative;
	width: 60%;
	left: 20%;
}