#welcomeMessage {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    padding: 3%;
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: white;
    border-style: solid;
    border-width: 8px;
    border-color: #FF410D;
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    font-family: 'Patua One', cursive;
    color: #004344;

}

button {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #004344;
    padding: 8px;

}