.welcomeContainer {
    padding:7%;
    padding-bottom: 12%;
}

#welcomeMessage {
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    padding: 3%;
    background-color: white;
    border-style: solid;
    border-width: 8px;
    border-color: #FF410D;
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    font-family: 'Patua One', cursive;
    color: #004344;

}

button {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #004344;
    padding: 8px;

}