	html,
	body {
		height: 100vh;
		margin: 0;
	}

	#wrapper {
		
		width: auto;
	}

	#customContainer {
		width: 100%;
		height: 80vh;
		border: 2px solid black;
		overflow-y: scroll;
	}

	.customIcon {
		font-size: 80px;
	}


	.customCard {
		margin-top: 2%;
	}

	#title {
		margin-bottom: 8%;
	}

	.customIconContainer {
		margin: 10%;
	}


	.cardEffect:hover {
		border: 3px solid black;
		opacity: 0.5;
	}

	.customColor {
		color: black;
	}

	.customCategory {
		margin: 2% 0px 3% 0px;
		color: white;
	}

	.customBackground {
		background: #f1f2f3;
	}

	.customNavBtn, .customMenuBtn {
		color: white;
		font-size: 140%;
		padding-left: 0px;
		margin-top: 20%;
	}

	

	.customNavBtn:hover, .customMenuBtn:hover {
		color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	cursor:pointer
		/* border: solid red 1px; */
	}

	.customMenuBtn:hover {
		cursor: default;
	}	

	.mainBackground {
		background:#0a1529;
	}



	

	#sidebar {
		min-width: 130px;
		background:
		#dc0000;;
	}

	.nav-link[data-toggle].collapsed:after {
		content: "▾";
	}

	.nav-link[data-toggle]:not(.collapsed):after {
		content: "▴";
	}