.overlay{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.rbc-month-view, .rbc-time-view, .rbc-header{
    background-color: white;
}

.rbc-toolbar {
    background-color: white;
}

.rbc-date-cell {
    height: 70px;
    border-color: #004344;
    border-style: solid;
    border-width: 0 3px 0 3px;
    margin: 0;
}

.rbc-off-range {
    background-color: #616969;
}

.rbc-month-row {
    margin: 0;
    border-width: 3px 0 3px 0;
    border-style: solid;
    border-color: #004344
}
.rbc-calendar {
    width: 100%;
    height: 100%;
    position: relative;
}

.rbc-header {
    height: 50px;
}