#calendar {
    width: 80%;
    left: 10%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rbc-toolbar, .rbc-month-view {
    border-radius: 5px;

}

#add {
    position: relative;
    background-color: white;
    width: 15%;
    left:10%;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 80px;
}

#add:hover {
    background-color: gray;
}